environments:
- name: "llvm"
  options:
    - "-I/Users/manasij7479/code/souper/third_party/llvm-Release-install/include"
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-L/Users/manasij7479/code/souper/third_party/llvm-Release-install/lib"
    - "-lLLVMCore"
    - "-lLLVMRemarks"
    - "-lLLVMBitstreamReader"
    - "-lLLVMBinaryFormat"
    - "-lLLVMTargetParser"
    - "-lLLVMSupport"
    - "-lLLVMDemangle"
    - "-lLLVMIRReader"
    - "-lLLVMAsmParser"
    - "-lLLVMBitReader"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk"
    - "-lm"
    - "-lz"
    - "-lcurses"
    - "-lxml2"
  persistent: 0
  execute: 1
  prelude: |
    #include <iostream>
    #include <vector>
    #include <string>
    #include <llvm/IR/LLVMContext.h>
    #include <llvm/IR/Module.h>
    #include <llvm/IR/Function.h>
    #include <llvm/IRReader/IRReader.h>
    #include <llvm/Support/SourceMgr.h>
    #include <llvm/Support/CommandLine.h>
    #include <llvm/Support/InitLLVM.h>
    #include <llvm/Support/TargetSelect.h>
    llvm::LLVMContext Context;

- name: "module"
  deps:
    - "llvm"
  persistent: 0
  execute: 1
  prelude: |
    #include "llvm/AsmParser/Parser.h"
    llvm::SMDiagnostic Err;
    std::unique_ptr<llvm::MemoryBuffer> Buffer = llvm::MemoryBuffer::getMemBuffer(_);
    std::unique_ptr<llvm::Module> M = llvm::parseAssembly(Buffer->getMemBufferRef(), Err, Context);
    if (!M) \
      llvm::errs() << "Failed to parse the module\n";
    void printModule() { \
      M->print(llvm::outs(), nullptr); \
    }
    void forEachFunction(std::function<void(llvm::Function &)> F) { \
      for (auto &Fun : *M) { \
        F(Fun); \
      } \
    }
    void forEachBasicBlock(std::function<void(llvm::BasicBlock &)> F) { \
      for (auto &Fun : *M) { \
        for (auto &BB : Fun) { \
          F(BB); \
        } \
      } \
    }
    void forEachInstruction(std::function<void(llvm::Instruction &)> F) { \
      for (auto &Fun : *M) { \
        for (auto &BB : Fun) { \
          for (auto &I : BB) { \
            F(I); \
          } \
        } \
      } \
    }
    void printFunctionNames() { \
      forEachFunction([](llvm::Function &F) { \
        llvm::outs() << F.getName() << "\n"; \
      }); \
    }
    using namespace llvm;

- name: "function"
  deps:
    - "llvm"
    - "module"
  persistent: 0
  execute: 1
  runtime_args: 1
  prelude: |
    auto *F = M->getFunction(argv[2]);
    if (!F) llvm::errs() << "Function not found\n";
    void printFunction() { \
      F->print(llvm::outs(), nullptr); \
    }

- name: "souper"
  options:
    - "-I/Users/manasij7479/code/souper/third_party/llvm-Release-install/include"
    - "-I/Users/manasij7479/code/souper/build/include"
    - "-I/Users/manasij7479/code/souper/include"
    - "-L/Users/manasij7479/code/souper/build/lib"
    - "-lsouperInst"
    - "-lsouperParser"
    - "-lsouperInfer"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk"
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
  persistent: 0
  execute: 1
  prelude: |
    #include "souper/Inst/Inst.h"
    souper::InstContext IC;

- name: "default"
  options:
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk"
    - "-lm"
  persistent: 1
  execute: 0
  prelude: |
    #include <iostream>