environments:
- name: "llvm"
  options:
    - "-I/Users/manasij7479/code/souper/third_party/llvm-Release-install/include"
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-L/Users/manasij7479/code/souper/third_party/llvm-Release-install/lib"
    - "-lLLVMCore"
    - "-lLLVMRemarks"
    - "-lLLVMBitstreamReader"
    - "-lLLVMBinaryFormat"
    - "-lLLVMTargetParser"
    - "-lLLVMSupport"
    - "-lLLVMDemangle"
    - "-lLLVMIRReader"
    - "-lLLVMAsmParser"
    - "-lLLVMBitReader"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk"
    - "-lm"
    - "-lz"
    - "-lcurses"
    - "-lxml2"
  persistent: 0
  execute: 1
  prelude: |
    #include <iostream>
    #include <llvm/IR/LLVMContext.h>
    #include <llvm/IR/Module.h>
    #include <llvm/IR/Function.h>
    #include <llvm/IRReader/IRReader.h>
    #include <llvm/Support/SourceMgr.h>
    #include <llvm/Support/CommandLine.h>
    #include <llvm/Support/InitLLVM.h>
    #include <llvm/Support/TargetSelect.h>
    llvm::LLVMContext context;

- name: "souper"
  options:
    - "-I/Users/manasij7479/code/souper/third_party/llvm-Release-install/include"
    - "-I/Users/manasij7479/code/souper/build/include"
    - "-I/Users/manasij7479/code/souper/include"
    - "-L/Users/manasij7479/code/souper/build/lib"
    - "-lsouperInst"
    - "-lsouperParser"
    - "-lsouperInfer"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk"
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
  persistent: 0
  execute: 1
  prelude: |
    #include "souper/Inst/Inst.h"
    souper::InstContext IC;

- name: "default"
  options:
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk"
    - "-lm"
  persistent: 1
  execute: 0
  prelude: |
    #include <iostream>