environments:
- name: "llvm"
  options:
    - "-I/Users/manasij7479/code/souper/third_party/llvm-Release-install/include"
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-L/Users/manasij7479/code/souper/third_party/llvm-Release-install/lib"
    - "-lLLVMCore"
    - "-lLLVMRemarks"
    - "-lLLVMBitstreamReader"
    - "-lLLVMBinaryFormat"
    - "-lLLVMTargetParser"
    - "-lLLVMSupport"
    - "-lLLVMDemangle"
    - "-lLLVMIRReader"
    - "-lLLVMAsmParser"
    - "-lLLVMBitReader"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk"
    - "-lm"
    - "-lz"
    - "-lcurses"
    - "-lxml2"
  persistent: 0
  execute: 1
  prelude: |
    #include <iostream>
    #include <vector>
    #include <string>
    #include <llvm/IR/LLVMContext.h>
    #include <llvm/IR/Module.h>
    #include <llvm/IR/Function.h>
    #include <llvm/IRReader/IRReader.h>
    #include <llvm/Support/SourceMgr.h>
    #include <llvm/Support/CommandLine.h>
    #include <llvm/Support/InitLLVM.h>
    #include <llvm/Support/TargetSelect.h>
    llvm::LLVMContext Context;

- name: "module"
  deps:
    - "llvm"
  persistent: 0
  execute: 1
  prelude: |
    #include "llvm/AsmParser/Parser.h"
    llvm::SMDiagnostic Err;
    std::unique_ptr<llvm::MemoryBuffer> Buffer = llvm::MemoryBuffer::getMemBuffer(_);
    std::unique_ptr<llvm::Module> M = llvm::parseAssembly(Buffer->getMemBufferRef(), Err, Context);
    if (!M) \
      llvm::errs() << "Failed to parse the module\n";
    void printModule() { \
      M->print(llvm::outs(), nullptr); \
    }
    void forEachFunction(std::function<void(llvm::Function &)> F) { \
      for (auto &Fun : *M) { \
        F(Fun); \
      } \
    }
    void forEachBasicBlock(std::function<void(llvm::BasicBlock &)> F) { \
      for (auto &Fun : *M) { \
        for (auto &BB : Fun) { \
          F(BB); \
        } \
      } \
    }
    void forEachInstruction(std::function<void(llvm::Instruction &)> F) { \
      for (auto &Fun : *M) { \
        for (auto &BB : Fun) { \
          for (auto &I : BB) { \
            F(I); \
          } \
        } \
      } \
    }
    void printFunctionNames() { \
      forEachFunction([](llvm::Function &F) { \
        llvm::outs() << F.getName() << "\n"; \
      }); \
    }
    using namespace llvm;

- name: "function"
  deps:
    - "llvm"
    - "module"
  persistent: 0
  execute: 1
  runtime_args: 1
  prelude: |
    auto *F = M->getFunction(argv[2]);
    if (!F) llvm::errs() << "Function not found\n";
    void printFunction() { \
      F->print(llvm::outs(), nullptr); \
    }

- name: "souper"
  options:
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
    - "-stdlib=libc++"
    - "-I/usr/local/include"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/v1"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/local/include"
    - "-isystem /Library/Developer/CommandLineTools/usr/lib/clang/15.0.0/include"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include"
    - "-isystem /Library/Developer/CommandLineTools/usr/include"
    - "-lm"
    - "-I/Users/manasijm/code/souper/third_party/llvm-Release-install/include"
    - "-I/Users/manasijm/code/souper/build/include"
    - "-I/Users/manasijm/code/souper/include"
    - "-L/Users/manasijm/code/souper/build/lib"
    - "-lsouperInst"
    - "-lsouperParser"
    - "-lsouperInfer"
  persistent: 0
  execute: 1
  prelude: |
    #include "souper/Inst/Inst.h"
    souper::InstContext IC;
    souper::ReplacementContext RC;
    using namespace souper;
    // Use this to build a synthesis helper repl

- name: "hydra-repl"
  options:
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
    - "-stdlib=libc++"
    - "-I/usr/local/include"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/v1"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/local/include"
    - "-isystem /Library/Developer/CommandLineTools/usr/lib/clang/15.0.0/include"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include"
    - "-isystem /Library/Developer/CommandLineTools/usr/include"
    - "-lm"
    - "-I/Users/manasijm/code/souper/third_party/llvm-Release-install/include"
    - "-I/Users/manasijm/code/souper/build/include"
    - "-I/Users/manasijm/code/souper/include"
    - "-L/Users/manasijm/code/souper/build/lib"
    - "-lsouperInst"
    - "-lsouperParser"
    - "-lsouperInfer"
    - "-lsouperGeneralize"
    - "-lsouperExtractor"
  persistent: 0
  execute: 1
  prelude: |
    #include <iostream>
    #include <string>
    #include <vector>
    #include "souper/Inst/Inst.h"
    #include "souper/Generalize/Generalize.h"
    #include "souper/Generalize/Reducer.h"
    #include "souper/Infer/ConstantSynthesis.h"
    // #include "souper/Tool/GetSolver.h"
    // Does not work becasue of llvm cl options 
    #include "souper/SMTLIB2/Solver.h"
    #include "souper/Infer/SynthUtils.h"
    using namespace llvm;
    using namespace souper;    

    // TODO : make the build system generate this
    static constexpr const char *Z3Path = "/Users/manasijm/code/souper/third_party/z3-install/bin/z3";
    std::unique_ptr<SMTLIBSolver> US = createZ3Solver(makeExternalSolverProgram(Z3Path), false);
    std::unique_ptr<Solver> S_ = createBaseSolver(std::move(US), 15);
    auto S = S_.get(); // live dangerously
    InstContext IC;
    ReplacementContext RC;
   
    std::string ErrStr;
    auto Inputs = ParseReplacements(IC, "__", __, ErrStr);

    // assert(ErrStr.empty());
    //assert(Inputs.size() == 1);
    ParsedReplacement _ = Inputs[0];

    std::string Current;

    void PW() {
      InfixPrinter IP(_);
      IP(llvm::outs());
    }

    void IR(const ParsedReplacement &PR) {
      PR.print(llvm::outs(), true);
    }

    void IR(Inst *I) {
      ReplacementContext RC;
      RC.printInst(I, llvm::outs(), true);
    }

  interlude: |
    { // Do not pollute the namespace
      auto Old = Current;
      Current = "";
      llvm::raw_string_ostream OS(Current);
      InfixPrinter IP(_, false);
      IP(OS);
      OS.flush();
      if (Current != Old && Old != "") {
        llvm::outs() << Current << "\n";
      }
    }

- name: "std-static"
  options:
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
    - "-stdlib=libc++"
    - "-I/usr/local/include"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/v1"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/local/include"
    - "-isystem /Library/Developer/CommandLineTools/usr/lib/clang/15.0.0/include"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include"
    - "-isystem /Library/Developer/CommandLineTools/usr/include"
    - "-lm"
  persistent: 1
  execute: 0


- name: "std"
  options:
    - "-std=c++20"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
    - "-stdlib=libc++"
    - "-I/usr/local/include"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/v1"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/local/include"
    - "-isystem /Library/Developer/CommandLineTools/usr/lib/clang/15.0.0/include"
    - "-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include"
    - "-isystem /Library/Developer/CommandLineTools/usr/include"
    - "-lm"
  persistent: 1
  execute: 1
  prelude: |
    #include <iostream>